    <link rel="stylesheet" type="text/css" href="<{:asset('css/bootstrap.css')}>" />
    <link rel="stylesheet" type="text/css" href="<{:asset('css/bootstrap-responsive.css')}>" />
    <link rel="stylesheet" type="text/css" href="<{:asset('css/style.css')}>" />
    <link rel="stylesheet" type="text/css" href="<{:asset('layer/js/skin/default/layer.css')}>" />
    <script type="text/javascript" src="<{:asset('js/jquery.min.js')}>"></script>
    <script type="text/javascript" src="<{:asset('js/jquery.form.js')}>"></script>
    <script src="<{:asset('lib/layui/layui.js')}>" charset="utf-8"></script>
    <script src="<{:asset('layer/js/layer.js')}>" charset="utf-8"></script>
    <script type="text/javascript" src="<{:asset('js/bootstrap.min.js')}>"></script>
    <!--<script type="text/javascript" src="<{:asset('js/common.js')}>"></script>-->

