<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <include file="Public/include" />
    <script type="text/javascript" src="<{:asset('js/page.js')}>"></script>

 

    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>
<form class="form-inline definewidth m20"  method="get" onsubmit="return false;">      
    留言查询:
    <input type="text" name="username" placeholder="电子邮箱/手机号/名字/标题" id="username"class="abc input-default" placeholder="" value="">&nbsp;&nbsp;  
    <a class="btn btn-primary" onclick="select()">查询</a>&nbsp;&nbsp;
</form>
<table class="table table-bordered table-hover definewidth m10" id="datatable">
    <thead>
    <tr>
        <th>ID</th>
        <th>留言标题</th>
        <th>姓名</th>
        <th>电子邮箱</th>
        <th>手机号</th>
        <th>留言时间</th>
        <th>操作</th>
    </tr>
    </thead>
	    
</table>
<div class="pagebox"></div>
</body>
</html>
<script>

     var index = {};

    function select(){
        var value = $("#username").val();
        if(value != ''){
            index.title = value;
            index.email = value;
            index.mobile = value;
            index.name = value;

        }else{
            index = {};
        }
        
        getPage(1);
    }

   

  $(function(){
        getPage(1);

        //绑定编辑事件
        $(document).on("click",'.edit',function(){
            var $this = $(this);
                var id = $this.data('id');
                location.href = "<{:U('Words/Post')}>&edit="+id;
                return true;
         

        });
        //绑定删除事件
        $(document).on("click",'.del',function(){

            if(!confirm("删除后不能恢复,你确定要删除?")){
                return false;
            }
            var $this = $(this);

            var id = $this.data('id');
            location.href = "<{:U('Words/delete')}>&edit="+id;
            return true;
         

        });
    })
    function  getPage(page) {
        //每页显示的页码数量

        var pagesize='<{$pagesize}>';

        if(pagesize == ''){
            pagesize = 15;
        }

        pagesize = parseInt(pagesize);
        $.post("<{:U('Words/getList')}>", {
            pagenum: page, //当前页码
            pagesize: pagesize, //每页记录数
            index:index
        }, function (json) {
            //删除元素
            var $datatable = $("#datatable");
            var column = $datatable.find("thead tr th").length;

            $datatable.find("tr:not(thead tr)").remove();
            
            var d = $.parseJSON(json);
            var total = d.total; 
            if(total == 0){         
              
                $datatable.append("<tr><td colspan='"+column+"'><div style='text-align:center'>暂无数据</div></td></tr>");
                return;
            }

            var html="";
         
            $.each(d.data, function (index, array) {

                html +='<tr>';
                html +='<td>'+array['id']+'</td>';
                html +='<td>'+(array['title']!=null?array['title']:"")+'</td>';
                html +='<td>'+(array['name']!=null?array['name']:"")+'</td>';
                html +='<td>'+(array['email']!=null?array['email']:"")+'</td>';
                html +='<td>'+(array['mobile']!=null?array['mobile']:"")+'</td>';
                html +='<td>'+(array['ctime'])+'</td>';
                html +='<td>';
                html +='<a class="btn btn-default btn-xs edit" data-id="'+array['id']+'">查看留言内容</a> <a class="btn btn-danger btn-xs del"  data-id="'+array['id']+'">删除留言</a>';
                html +='</td>';
                html +='</tr>';
                
            });
        
            $datatable.append(html);

            $(".pagebox").html(getPageView(pagesize, page, total)); //获取分页内容

        });

    }
</script>