<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <include file="Public/include" />
    <script type="text/javascript" src="<{:asset('js/plugin.js')}>"></script>
    <script type="text/javascript" src="<{:asset('js/uploader.js')}>"></script>
    <script type="text/javascript" src="<{:asset('js/bootstrap-select/js/bootstrap-select.js')}>"></script>
    <link rel="stylesheet" type="text/css" href="<{:asset('js/bootstrap-select/css/bootstrap-select.min.css')}>" />

 

    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>
<form action="<{:U('Product/post',array('edit'=>$edit))}>" method="post" class="definewidth m20">
<input type="hidden" name="edit" value="<{$edit}>" />
<input type="hidden" name="data[type]" value="product" />
<table class="table table-bordered table-hover definewidth m10">
    <tr>
        <td width="10%" class="tableleft"><{$fieldText['title']}></td>
        <td><input type="text" class="form-control" style="width:30%" placeholder="填写<{$fieldText['title']}>" name="data[title]"  value="<{$data['title']}>"/></td>
    </tr>
    <tr>
        <td class="tableleft"><{$fieldText['mtitle']}></td>
        <td><input type="text" name="data[mtitle]" class="form-control" style="width:30%" value="<{$data['mtitle']}>" placeholder="填写<{$fieldText['mtitle']}>"/></td>
    </tr>
    <tr>
        <td class="tableleft"><{$fieldText['url']}></td>
        <td><input type="text" name="data[url]" class="form-control" style="width:30%" value="<{$data['url']}>"  placeholder="填写<{$fieldText['url']}>"/></td>
    </tr>
    <tr>
        <td class="tableleft"><{$fieldText['author']}></td>
        <td><input type="text" name="data[author]" class="form-control" style="width:30%" value="<{$data['author']}>"  placeholder="填写<{$fieldText['author']}>"/></td>
    </tr>
    <tr>
        <td class="tableleft"><{$fieldText['price']}></td>
        <td><input type="price" name="data[price]" class="form-control" style="width:30%" value="<{$data['price']}>"  placeholder="填写<{$fieldText['price']}>"/></td>
    </tr>
    <tr>
        <td class="tableleft"><{$fieldText['description']}></td>
        <td>
            <textarea class="form-control" style="width: 50%;resize: none;" rows="5" name="data[description]"><{$data['description']}></textarea>
        </td>
    </tr>
    <script language="javascript" type="text/javascript" src="<{:asset('kindeditor/kindeditor.js')}>"></script>
    <script language="javascript" type="text/javascript" src="<{:asset('kindeditor/lang/zh_CN.js')}>"></script>
   <script language="javascript" type="text/javascript">
		var editor;
		KindEditor.ready(function(K) {
			editor = K.create('#content', {
				allowFileManager : true
			});
	
		});
  
  </script>
    <tr>
        <td class="tableleft"><{$fieldText['content']}></td>
        <td>
            <textarea class="form-control" style="width: 100%;resize: none;" rows="20" id="content" name="data[content]"><{$data['content']}></textarea>
        </td>
    </tr>
    <tr>
        <td class="tableleft"><{$fieldText['category']}></td>
        <td>
                <select name="data[cid]" class="form-control selecter"  id="cid">
                    <option value="0" data-text="顶级分类">顶级分类</option>
                    <{$category_select}>
                </select>
        </td>
       
    </tr>
    <script>
            $(function(){
                uploader.init();
                $('#cid').selectpicker('refresh');
	            $('#cid').selectpicker('render');
                <if condition="$edit and $data['cid'] neq 0">
                $('#cid').selectpicker('val','<{$data["cid"]}>');
                </if>
            });
        </script>
    <tr>
        
        <td class="tableleft"><{$fieldText['gallery']}></td>
        <td> 
            <div class="uploader">
                <div class="plugin">
                    <div class="btn btn-default">上传</div>
                    <input type="file" id="image" name="image" value="" />
                </div>
                <div class="plugin_container">
                    <volist name="data[image]" id="image">
                        <div class="plugin_item">
                            <div class="plugin_remove">删除</div>
                            <img src="<{:getThumbImage('view',$image)}>" alt="" />
                            <input type="hidden" name="data[image][]" value="<{$image}>" />
                        </div>
                    </volist>

 
                </div>
            </div>

        </td>
    </tr>
    <tr>
        <td class="tableleft"><{$fieldText['view']}></td>
         <td><input type="number" name="data[view]" class="form-control" style="width:30%" value="<{$data['view']}>"  placeholder="选填"/></td>
    </tr>

    <tr>
        <td class="tableleft"><{$fieldText['ishot']}></td>
         <td>
             <label for="hottext">
                 <input type="radio" id="hottext" name="data[ishot]" value="0" <if condition="$data['ishot'] eq '0' or $data['ishot'] eq null">checked</if>/>
                 否
             </label>
             <label for="hottext1">
                 <input type="radio" id="hottext1" name="data[ishot]" value="1" <if condition="$data['ishot']">checked</if>/>
                 是
             </label>

         </td>
    </tr>
    <include file="Public:custom_fields" />

    <script type="text/html" id="item_tpl">
         <div class="plugin_item">
            <div class="plugin_remove">删除</div>
            <img src="" alt=""  />
            <input type="hidden" name="data[image][]" value="" />
        </div>
    </script>
 
    <tr>
        <td class="tableleft"></td>
        <td>
            <button type="submit" class="btn btn-primary" type="button">发布</button> &nbsp;&nbsp;
            <a class="btn btn-success" href="<{:U('Product/index')}>">返回列表</a>
        </td>
    </tr>
</table>
</form>
</body>
</html>
